@media (max-width: 550px) {
    .nav {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .logo {
      width: 120px; 
      margin-bottom: 10px;
    }
  
    .nav-links {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-left: 0;
      gap: 10px; 
    }
  
    .nav-links li {
      list-style: none;
      text-align: center;
    }
  }
  /*No esta funcionando, los links y el logo no se apilan en el header :(*/