.container-form{
    width: 100%;
    max-width: 400px;
}

.contacto1{
    display: flex;
    justify-content: center;
}

.contacto2{
    display: flex;
    justify-content: center;
}

.campo-formulario{
    display: flex;
    flex-direction: column;
}