doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document
  link(rel='stylesheet' href='/css/index2.css')
.container-login
  h1 Ingresar
  .container-campos-login
    .container-campo-login
      input(type='text' placeholder='Usuario')
    .container-campo-login
      input(type='text' placeholder='Constrasena')
    .container-boton-enviar
      button Enviar
  #color-palette
