form {
    background-color: white;
    width: 320px;
    margin: 0 auto;
}
  
h2 {
    text-align: center;
    margin-bottom: 20px;
}
  
input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
  
.error {
    color: red;
    font-size: 16px;
}
  
button {
    width: 100%;
   margin-top: 10px;
   border-radius: 10px;
}
